<h1>Galpões & Estoque</h1>

<h2>Galpões</h2>
<% @warehouses.each do |warehouse| %>
  <%= link_to warehouse.name, warehouse_path(warehouse.id) %>
  <ul>
    <li>
      Código: <%= warehouse.code %>
    </li>
    <li>
      Cidade: <%= warehouse.city %>
    </li>
    <li>
      <%= warehouse.area %> m²
    </li>
  </ul>
<%end%>
<% if @warehouses.empty? %>
  <h2>Não existem galpões cadastrados.</h2>
<% end %>