nav {
  display: flex;
  gap: 0.5rem;
}

nav button{
  background-color: white;
  border: none;
  font-size: 0.9rem;
  color: blue;
  text-decoration: underline;
}

nav button:hover{
  cursor: pointer
}